/* ##################################################################### */
/* ############################### 布局css ############################### */
/* ##################################################################### */
html,
body {
  width: 100%;
  height: 100%;
  min-height: 768px;
  min-width: 1334px;
  background: url("../images/index-bc.png") no-repeat top center;
  background-size: cover;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* ##################################################################### */
/* ############################### header ############################## */
/* ##################################################################### */
header {
  height: 85px;
  width: 100%;
  flex: none;
  display: flex;
  flex-direction: row;
  background: url("../images/header-bc.png") no-repeat top center;
  justify-content: center;
}
/* ~~~~~~~~~~~~~~~~~~ 时间 ~~~~~~~~~~~~~~~~~ */
header .header-layout-left {
  box-sizing: content-box;
  height: 100%;
  display: flex;
  flex: auto;
  justify-content: flex-end;
  align-items: flex-end;
}
/* ~~~~~~~~~~~~~~~~ title ~~~~~~~~~~~~~~~~ */
header .header-layout-center {
  width: 480px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
}
/* ~~~~~~~~~~~~~~~~~~ 天气 ~~~~~~~~~~~~~~~~~ */
header .header-layout-right {
  height: 100%;
  display: flex;
  flex: auto;
  align-items: flex-end;
}
/* ##################################################################### */
/* ################################ main ############################### */
/* ##################################################################### */
main {
  height: 537px;
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* ====================================================== */
/* ====================== main内容区域 ====================== */
/* ====================================================== */
.main__container {
  height: 100%;
  width: 1400px;
  display: flex;
  flex-direction: row;
}
/* ~~~~~~~~~~~~~ 适配1400分辨率以下 ~~~~~~~~~~~~~ */
@media screen and (max-width: 1400px) {
  .main__container {
    width: 100%;
  }
}
@media screen and (min-width: 1559px) {
  .main__container {
    width: 1500px;
  }
}
/* ---------- 左侧 ---------- */
.main-layout-left {
  width: 373px;
  /* height: 536px; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
}
/* -------- 中间地图位置 -------- */
.main-layout-center {
  height: 100%;
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-layout-center-map {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/images/map.png") no-repeat center 44%;
  background-size: 920px 760px;
}
.map__border {
  stroke: #00ffff;
  stroke-width: 5px;
  fill: #00ffff;
  transform: scale(1.03) translate(1px, 1px);
  -webkit-transform: scale(1.03) translate(1px, 1px);
  -moz-transform: scale(1.03) translate(1px, 1px);
  -ms-transform: scale(1.03) translate(1px, 1px);
  -o-transform: scale(1.03) translate(1px, 1px);
}
.main-layout-center-map svg .map__area path {
  stroke: #00ffff;
  stroke-width: 2px;
  fill: #040d38;
  cursor: pointer;
  transition: scale() 0.5s;
  -webkit-transition: scale() 0.5s;
  -moz-transition: scale() 0.5s;
  -ms-transition: scale() 0.5s;
  -o-transition: scale() 0.5s;
}
.main-layout-center-map svg .map__area path:first-child {
  transform: scale(1.01) translate(-4px, -4px);
}
.main-layout-center-map svg .map__area path:nth-child(2) {
  transform: scale(1.01);
}
.main-layout-center-map svg .map__area path:nth-child(2) {
  transform: scale(1.01);
}
.main-layout-center-map svg .map__area path:hover {
  fill: rgb(31, 66, 238);
}
/* ---------- 右侧 ---------- */
.main-layout-right {
  width: 373px;
  /* height: 536px; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}

/* ##################################################################### */
/* ################################# 底部 ################################ */
/* ##################################################################### */
footer {
  height: 146px;
  width: 100%;
  flex: 1 0 auto;
}
/* ====================================================== */
/* ========================= 子项目 ======================== */
/* ====================================================== */
footer > .sub__project {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
/* ~~~~~~~~~~~~~~~ 子项目统一样式 ~~~~~~~~~~~~~~~ */
footer > .sub__project .sub__project--item {
  width: 217px;
  min-height: 146px;
  margin-right: 21px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
footer > .sub__project .sub__project--item:last-child {
  margin-right: 0px;
}
.sub__project--item .project--item-header {
  width: 100%;
  height: 35px;
  flex: none;
}
.sub__project--item .project--item-main {
  width: 100%;
  flex: 1 0 auto;
  height: 106px;
}
